<h1>Dunder Employees:</h1>
<ul>
    <%@employees.each do |employee| %>
    <li>
    Name: <%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee) %>
    <%end%>
    
    
    
    </li>



</ul>